@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0.5rem);
    }
    75% {
        transform: translateX(-0.5rem);
    }
    100% {
        transform: translateX(0);
    }
}

.invalid {
    animation: shake 0.2s ease-in-out 0s 2;
}
